{% extends "layout.html" %}
{% block body %}

	<div class="container error-pages">
		<h1>404</h1>
		<h2>The page you're looking for doesn't exist.</h2>
		<h3>You may want to head back to the homepage. 
		If you think something is broken, please report a problem.</h3>									
		<br />
		<a href="{{ url_for('index') }}" class="btn btn-success btn-lg"/>Go to Homepage</a> 
		<br /> <br />
		<a href="https://twitter.com/suzenfylke" class="btn btn-success btn-lg"/>Report a Problem</a>  	
	</div>
 
{% endblock %}